:root {
    --background-color: linear-gradient(to right, #485563, #29323c);
    --main-color: orange;
    --white-color: #fff;
    --black-color: #000;
    --black-100: rgba(0, 0, 0, 0.1);
    --black-300: rgba(0, 0, 0, 0.3);
    --black-600: rgba(0, 0, 0, 0.6);
    --overlay-color: rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}


/*-------Đăng nhập, Đổi mật khẩu---------*/

.container-fluid.login{
    background: var(--background-color);
    width: 100%;
    height: 100%;
    display: flex;
}

.wrapper {
    margin: auto;
    max-width: 390px;
    box-shadow: 0 15px 20px var(--black-300);
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 6px;
    margin-top: 100px;
}

.wrapper .title1 {
    padding-bottom: 10px;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--main-color)
}

.wrapper form {
    width: 100%;
}

.wrapper form .field {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.wrapper form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 8px 15px;
    font-size: 18px;
    color: var(--black-color);
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    border-radius: 5px;
}

.wrapper form .field label {
    color: var(--main-color);
}

.wrapper form .field input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.wrapper form .field input:focus {
    border-color: var(--main-color);
}

.wrapper form .field input[type="submit"], .wrapper form .field input[type="button"] {
    margin-top: 20px;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
    background: var(--main-color);
    box-shadow: 4px 4px 8px var(--black-300);
    cursor: pointer;
}

.wrapper form .field input[type="submit"]:hover {
    box-shadow: 4px 4px 8px var(--black-600);
}

/* validate */
.wrapper form .field i {
    position: absolute;
    visibility: hidden;
    top: 43px;
    right: 10px;
}

.wrapper form .field.success i.bi-check-circle-fill{
    visibility: visible;
    color: #2ecc71;
}

.wrapper form .field.error i.bi-exclamation-circle-fill{
    visibility: visible;
    color: #e74c3c;
}

.wrapper form .field.success input{
    border-color: #2ecc71;
}
.wrapper form .field.error input{
    border-color: #e74c3c;
}

.wrapper form .field small {
    position: absolute;
    visibility: hidden;
    bottom: -20px;
    left: 0;
}

.wrapper form .field.error small{
    visibility: visible;
    color: #e74c3c;
}



.wrapper form .btn_changePass {
    display: flex;
    justify-content: space-between;
}

.wrapper form .btn_changePass input {
    margin-right: 5px;
}


/*-------Giao diện nhân viên---------*/

.sidebar {
    width: 300px;
    background: #2c2b30;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    transition: all 0.5s;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.sidebar.enter{
    left: 0;
    opacity: 1;
}

.sidebar_list{
    position: relative;
    margin-top: 80px;
}
.sidebar_list .sidebar_item {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: orange;
    margin-top: 15px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    transition: all 0.3s;
}

.sidebar_list .sidebar_item:hover{
    background-color: white;
    font-size: 25px;
}
.sidebar_list .sidebar_item:hover a{
    color: black;
}



.sidebar_list .sidebar_item a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar_list .sidebar_item i {
    font-size: 150%;
    margin-right: 16px;
}

.page-wrap{
    padding: 10px;
    width: auto;
    min-height: 100vh;
    display: flex;
    transition: all 0.5s;
    background:var(--background-color);
    overflow: hidden;
    margin-left: 300px;
    position: relative;
    
}

.page-wrap button{
    color: orange;
    border: 2px solid orange;
    padding: 14px 30px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    background-color: orange;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.page-wrap button::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ecf0f1;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.page-wrap button:hover{
    color: white;

}

.page-wrap button:hover::before{
    -webkit-transform: scale(0);
    transform: scale(0);
}

.menu_btn{
    color: white;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    left: 20px;
    opacity: 0;
    transition: all 0.5s;
    z-index: 999;
}

.menu_btn:hover{
    transform: rotate(180deg);
    color: orange;
}

.close_btn{
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 8px;
    transition: all 0.25s;
} 
.close_btn:hover{
    font-size: 35px;
    opacity: 1;
    cursor: pointer;
    color: orange;
}

/* thông tin nhân viên */

.info_wrap{
    border: 1px solid var(--black-color);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    padding: 12px;
    background-color: whitesmoke;
    margin: auto;
}

.info_wrap-close{
    position: absolute;
    top : 4px;
    right: 4px;
    font-size: 25px;
    color: var(--black-600);
}

.info_wrap-close:hover{
    color: black;
}

.info_wrap_header{
    display: flex;
    border-bottom: 1px solid var(--black-color);
}

.info_wrap_header-avatar{
    border: 1px solid var(--black-color);
    width: 100px;
    height: 100px;
    margin: 0 10px 10px;
    border-radius: 50px;
    position: relative;
}
.info_wrap_header-avatar img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:  0;
    margin: auto;
    width: 100%;
    border-radius: 50px;
}

.info_wrap_header-btn{
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.info_wrap_header-btn .info_wrap_header-change,
.info_wrap_header-btn .info_wrap_header-view{
    display: block;
    background-color: var(--main-color);
    color: var(--black-color);
    padding: 2px 8px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 4px 4px var(--black-300);
}
.info_wrap_header-btn .info_wrap_header-change:hover,
.info_wrap_header-btn .info_wrap_header-view:hover{
    cursor: pointer;
    box-shadow: 2px 4px 4px var(--black-600);
}
.info_wrap_body{
    padding: 12px;
    font-size: 20px;
}
.info_wrap_body-item{
    display: flex;
    margin-top: 20px;
}
.info_wrap_body-item label{
    min-width: 180px;
}
.info_wrap_body-item input{
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

/* hiện ảnh đại diện */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.2s;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-100);
}
.modal_body{
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 30px; 
    z-index: 1  ;
}
.modal_body img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
}
.closeAvatar, .closeForm{
    position: absolute;
    top:0;
    right: 0;
    font-size: 30px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.form-control{
    min-width: 280px;
}
.form-group{
    display: flex;
    margin: 30px 0;
}
.form-group > label{
    min-width: 200px;
    color: #dff9fb;
}

/* Hiện thông báo bổ nhiệm */
#appoint_monitor{
    margin-top: 150px;
    margin: auto;
    width: 450px;
    height: 180px;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
#appoint_monitor button{
    min-width: 100px;
    
}

/* Quản lý Task */
.main_wrap{
    margin: 50px;
    width: 100%;
}

.main_wrap .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}




.main_wrap table{
    background-color: #dff9fb;
    text-align: left;
    width: 100%;
}
.main_wrap table th:first-child, 
.main_wrap table td:first-child,
.main_wrap table th:last-child, 
.main_wrap table td:last-child{
    text-align: center;
}
.main_wrap table tr th, 
.main_wrap table tr td{
    border: 1px solid black;
    padding: 12px;
}
.main_wrap table thead tr{
    background: linear-gradient(#777, #444);
    color: white;
}
.main_wrap .main_table tbody tr:hover{
    background-color: rgba(255,165,0,0.75);
    cursor: pointer;
    transition: 0.5s linear;
}


/* link form */

#task_info{
    margin: 50px;
    width: auto;
}


#task_info .details_task {
    width: 100%;
    max-width: 550px;
}

#task_info .feedback_history {
    width: 100%;
    max-width: 400px;
}

#task_info .feedback_history tr:first-child{
    font-weight: bold;

}

#task_info .feedback_history tr td{
    min-width: 200px;
}

#task_info tr td{
    border: 1px solid black;
    padding: 8px 12px;
}
#task_info .details_task tr td:first-child{
    font-weight: bold;
    min-width: 170px;
}
/* hover icon xóa, sửa */
.bi:hover{
    opacity: 0.8;
}
/* disable input */
input:disabled, textarea:disabled{
    cursor: not-allowed;
}
/*  */
h1,h2,h3{
    text-transform: uppercase;
    color: #dff9fb;
}

.main_wrap .title{
    color: white;
}

/* .btn_add{
    position: absolute;
    top: 110px;
    right: 60px;
} */

.btn-table{
    background-color: none;
    border: none;
}

/* responsove */

@media(max-width: 640px){
    .sidebar{
        left: -300px;
    }

    .page-wrap{
        margin-left: 0;
        overflow: scroll;
    }

    .page-wrap button {
        font-size: 0.7rem;
        padding: 8px 12px;
    }

    .menu_btn{
        opacity: 1;
    }

    .main_wrap .header{
        display: block;
    }
    .main_wrap .title{
        font-size: 1.8rem;
    }

    .main_wrap .table_responsive thead{
        display: none;
    }   
    .main_wrap .table_responsive, 
    .main_wrap .table_responsive tbody,
    .main_wrap .table_responsive tr,
    .main_wrap .table_responsive td{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }


    .main_wrap .table_responsive tr:nth-child(even){
        background-color: orange;
    }

    .main_wrap .table_responsive td,
    .main_wrap .table_responsive th:first-child,
    .main_wrap .table_responsive td:first-child,
    .main_wrap .table_responsive td:last-child,
    .main_wrap .table_responsive th:last-child{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .main_wrap .table_responsive td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        color: black;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .form-control{
        min-width: 100px;
        font-size: 0.7rem;
    }
    .form-group{
        display: flex;
        margin: 30px 0;
    }
    .form-group > label{
        min-width: 120px;
        color: #dff9fb;
        font-size: 0.7rem;
    }

    .info_wrap_body h2{
        font-size: 1.4rem;
    }

    .info_wrap_body-item label{
        min-width: 100px;
        font-size: 0.7rem;
    }
    .info_wrap_body-item input{
        min-width: 100px;
        font-size: 0.7rem;
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid lightgrey;
    }
}


@media(min-width: 641px) and (max-width: 1023px){
    .sidebar{
        left: -300px;
    }

    .page-wrap{
        margin-left: 0;
    }
    .menu_btn{
        opacity: 1;
    }
}
